.curriculum-container {
    margin: 20px;
}

.curriculum-section {

    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 10px;

}

.header-curriculumn {
    font-family: 'Jost';
    color: #555555;
}

.curriculum-header {
    padding: 10px;
    font-weight: 600;
    font-family: 'Exo';
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;


    border-radius: 10px;
}

.curriculum-lessons {
    padding: 10px 5px 10px 20px;
    background-color: #fff;
}

.lesson-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.preview-button {
    background-color: #2580D5;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.time-lesson {
    width: 33px;

}

.option-curriculum {
    width: 125px;
    display: flex;
    justify-content: space-between;
    color: #555555;
    font-weight: lighter;
}

.button-time-tick {
    width: 157px;
    display: flex;
    justify-content: space-between;
}