.delete-account-page {
  max-width: 630px;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .form-group {
    width: 100%;
    display: flex;
    gap: 10px;

    label {
      display: block;
      margin-bottom: 5px;
    }

    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 4px;
      resize: vertical;
    }
  }

  .form-group-checkbox {
    .checkbox {
      display: flex;
      align-items: center;

      input {
        margin-right: 10px;
      }
    }
  }

  .delete-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ff7822;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
  }

  .delete-button:hover {
    background-color: #e66a1f;
  }
}
