.promo-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 300px;
    /* Điều chỉnh kích thước thẻ */
}

.promo-image img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.promo-content h3 {
    font-size: 18px;
    margin: 15px 0 5px 0;
}

.promo-content p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.promo-pricing {
    font-size: 18px;
    margin-bottom: 20px;
}

.original-price {
    text-decoration: line-through;
    color: #999;
    margin-right: 10px;
}

.discount-price {
    color: #e74c3c;
    font-weight: bold;
}

.start-now-button {
    background-color: #ff6f00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.start-now-button:hover {
    background-color: #e65c00;
}