.register {
  max-width: 630px;
  margin: 50px auto;
  padding: 30px;
  border: 1px solid #eaeaea;
  border-radius: 20px;
  @media (max-width: 767px) {
    max-width: 400px;
  }
  @media (max-width: 480px) {
    max-width: 300px;
  }

  h1 {
    margin-top: 0px;
    font-size: 30px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;

    .input-group {
      width: 100%;

      #email,
      #username,
      #confirmPassword,
      #password {
        width: 100%;
        padding: 10px 16px;
        border: 1px solid #9d9d9d;
        border-radius: 8px;
        font-size: 12px;
        box-sizing: border-box;
      }
    }

    button {
      width: 100%;
      cursor: pointer;
      padding: 10px 24px;
      border-radius: 24px;
      border-color: transparent;
      background-color: #ff7822;
      color: #fff;
      font-size: 16px;
      line-height: 27px;
      font-weight: 600;
    }
  }
}
