*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.Header{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
  
}

.logoHeader{
    width: 25%;
    height: 100%;
    display: flex;   
    gap: 10px;
    margin-left: 70px;
}


h3{
    font-size: 25px;
    margin-top: 15px;
    color: rgba(241, 152, 34, 0.979);
}

.Header > ul{
 
    display: flex;
    width:60%;
}

.Header > ul > li{
    width: 100px;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.Header > ul > li:hover{
    background-color: rgba(246, 243, 238, 0.633);
    color: rgba(241, 152, 34, 0.979);
}

.ulInput{
    width: 400px ;
    padding: 20px;
    display: flex;
}

.ulInput > input{
    margin-right:10px;
    text-align: center;
    font-size: 15px;
    width: 400px;
    height: 35px;
    border: 1px solid #00000010;
    background-color: rgba(240, 234, 234, 0.815);
    border-radius: 12px;
}

.btnHeader{
    width: 100px;
    margin: auto;
    cursor: pointer;
}
.btnIcon{
    font-size: 25px;
}
.loginHeader{
    display: flex;
    width: 15%;
    height: 72px;
    margin-right: 100px;
    cursor: pointer;
}

.loginHeader > div{
   margin: auto;
   font-size: 20px;
   font-weight: 600;
   text-align: center;
}

.loginHeader > div > span{
    margin: 10px;
}

.loginHeader > div > span:hover {
    color: rgba(241, 152, 34, 0.979);
}

.posterHeader{
    width: 100%;
    height: 552px;
    background-color: black;
    display: flex;
}

.posterHeader > img{
    width: 100%;
}

.posterContent{
    position: absolute;
    display: flex;
    margin-left: 400px;
    margin-top: 10px;
    width: 1200px;
    height: 400px;
   
    z-index: 999;
}

.posterSologun{
    width: 60%;
}

.posterSologun > h1{
    font-size: 70px;
    text-align: center;
    color: rgba(241, 152, 34, 0.979);
    margin-top: 50px;
    margin-bottom: 10px;
}

.posterSologun > h2{
    font-size: 20px;
    text-align: center;
}

.btnPoster{
    width: 200px;
    height: 40px;
    background-color: red;
    font-size: 20px;
    color: #fff;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
    gap: 10px;
    margin-top: 50px;
    margin-left: 35%;
}

.posterAvatar{
    width: 35%;
    margin-left: 30px;
  
}

.posterAvatar > img{
    width: 100%;
    margin-top: 30px;
}

/************************ContainerPage**************************/

.ContainerPage{
    width: 1200px;
    background-color: aquamarine;
    height: 100%;
    margin-left: 20%;
}

.categories{
    width: 100%;
    height: 640px;
    display: flex;
    background-color: burlywood;
}