*{
    margin: 0;
    padding: 0;
    list-style: none;
}

.Header{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
  
}

.logoHeader{
    width: 25%;
    height: 100%;
    display: flex;
    
    gap: 10px;
}

img{
    margin-left: 100px;
}

h3{
    font-size: 25px;
    margin-top: 15px;
    color: rgba(241, 152, 34, 0.979);
}

.Header > ul{
 
    display: flex;
    width:60%;
}

.Header > ul > li{
    width: 100px;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.Header > ul > li:hover{
    background-color: rgba(237, 231, 224, 0.67);
    color: rgba(241, 152, 34, 0.979);
}

.ulInput{
    width: 400px ;
    padding: 20px;
    display: flex;
}

.ulInput > input{
    margin-right:10px;
    text-align: center;
    font-size: 15px;
    width: 400px;
    height: 30px;
    border: 1px solid #00000010;
    background-color: rgba(240, 234, 234, 0.815);
    border-radius: 12px;
}

.btnHeader{
    width: 100px;
    margin: auto;
    cursor: pointer;
}
.btnIcon{
    font-size: 25px;
}
.loginHeader{
    width: 15%;
    height: 72px;
    background-color: rgb(43, 177, 226);
    margin-right: 100px;
}

.loginHeader > span{
    margin: auto;
}