*{
    margin: 0;
    padding: 0;
}

.blogContainer{
    width: 1175px;
    height: 950px;
    margin-left: 20%;
    display: flex;
    margin-top: 30px;
}

.blogMain{
    width: 900px;
    height: 100%;
}

.blogTitle{
    width: 100%;
    height: 80px;
}

.blogTitle > h1{
    font-family: Exo;
    font-size: 36px;
    font-weight: 600;
    line-height: 43.2px;
    text-align: left;
    color: #000;
}

.blogDetail{
    width: 100%;
    height: 850px;
}

.blogImg{
    width: 100%;
    height: 500px;
}

.blogContent{
    width: 100%;
    height: 250px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.blogContent > p{
    font-family: Jost;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}

.blogTag{
    width: 100%;
    height: 40px;
    display: flex;
}

.boxTags{
    width: 100px;
    height: 30px;
    border: 1px solid #000;
    text-align: center;
    padding-top: 5px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 10px;
}

.blogSideBar{
    width: 275px;
    height: 800px;
    border: 1px solid #0000003d;
}

.category{
    width: 90%;
    height: 250px;
    margin-left: 10px;
}

.categoryNav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.buttonAdd{
   font-size: 18px;
   color: red;
   cursor: pointer;
}

.content{
    width: 900px;
    height: 500px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8); 
    top: 100px;
    left:auto;
    color: aliceblue;
}

.title{
    margin-left: 50px;
}

.formInput{
    width: 50% !important;
    height: 30px !important;
    margin-left:25px !important ;
    margin-bottom: 10px;
}

.textInput{
    width: 50%;
    height: 200px;
    margin-left: 10px;
}
.category > h4{
    font-family: Exo;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    margin-bottom: 20px;
}

.cateBox{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-between;
 
}

.boxRecent{
    width: 90%;
    height: 350px;
    margin-left: 10px;
}

.boxRecent > h4{
    font-family: Exo;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
}

.articles{
    width: 100%;
    height: 90px;
    display: flex;
    margin: 0;
    margin-top: 15px;
    cursor: pointer;
}

.articlesImg{
    width: 40%;
    height: 100%;
}

.articlesImg > img{
    width: 100%;
    height: 100%;
}

.articlesContents{
    width: 60%;
    height: 90px;
   
}

.articlesContents > p{
    font-family: Jost;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    margin-left: 5px;
    margin-top: 5px;
}

.tags{
    width: 90%;
    height: 150px;
    margin-left: 10px;
    margin-top: 10px;
}

.tags > h4{
    font-family: Exo;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    margin-bottom: 10px;
}

.hastag{
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}