*{
    margin: 0;
    padding: 0;
}

.contactContainer{
    width: 1175px;
    height: 900px;
    background-color: antiquewhite;
    margin-left: 20%;
    margin-top: 30px;
}

.contactBox{
    width: 100%;
    height: 450px;
    background-color: aqua;
    display: flex;
}